*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.my-bg{
    background-color: #780c28;
}

footer{
    background-color: #780c28;
    height: 50px;
    width: 100%;
}